<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>index </title>

  <link href="node_modules/bootstrap/dist/css/bootstrap.min.css?v=@version@" rel="stylesheet">
  <link href="all.min.css?v=@version@" rel="stylesheet">

  <script src="node_modules/jquery/dist/jquery.min.js?v=@version@"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js?v=@version@"></script>
  <script src="node_modules/angular/angular.min.js?v=@version@"></script>
  <script src="node_modules/moment/min/moment-with-locales.min.js?v=@version@"></script>
  <script src="all.min.js?v=@version@"></script>

</head>
<body>
  test111d22
</body>
</html>
