<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.itpkg"/>


    <bean id="core.jwtHelper" class="com.itpkg.core.utils.impl.JwtHS512Helper" init-method="init">
        <property name="jsonHelper" ref="core.jsonHelper"/>
        <property name="sessionService" ref="core.sessionService"/>
        <property name="settingService" ref="core.settingService"/>
    </bean>

<bean class="org.springframework.mail.javamail.JavaMailSenderImpl">
    <property name="host" value="localhost"/>
    <property name="port" value="25"/>
</bean>

</beans>