[Unit]
Description=IT-PACKAGE
After=postgresql.target
After=redis.target
After=rabbitmq.target
After=elasticsearch.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/itpkg/app/build/install/app
ExecStart=/opt/itpkg/app/build/install/app/bin/itpkg

[Install]
WantedBy=multi-user.target
